@import '../../utilsForScss/colors.scss';
@import '../../utilsForScss/mixins.scss';

.home-page {
  background-color: #171A21;
  min-height: 100vh;

  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 16px;
  }

  &__all-games {
    display: grid;
    justify-content: center;
    row-gap: 20px;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(auto-fill, 270px);
      column-gap: 16px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }
  }
}
